<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue Basics</title>
    <style>
      #app {
        box-sizing: border-box;
        width: 98vw;
        height: 98vh;
        margin: 0rem;
        padding: 0rem;
        background-color: gray;
      }

      .box {
        background-color: purple;
        height: 12rem;
        width: 12rem;
      }

      /* input {
        margin: 0.7rem;
        display: block;
      } */
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <login-form />

      <hr />

      <button @click="toggleBox">Toggle Box</button>
      <!-- <div v-if="isVisible" ></div> -->
      <test-box v-if="isVisible" ></test-box>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            isVisible: false,
          }
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
        },
        updated() {
          console.log("updated");
        }
      });
      
     

      // app.component("login-form", {
      //   // v-bind is the same as : the latter one is shorter version and does the same

      //   // v-for is my loop for inputs
      //   template: `
      //           <form @submit.prevent="handleSubmit">
      //               <h1>{{ title }}</h1>
      //               <custom-input 
      //                   v-for="(input, i) in inputs"
      //                   key="i"
      //                   v-model="input.value"
      //                   :label="input.label" 
      //                   :type="input.type"
      //               />
      //               <button>Log in</button>
      //           </form>
      //       `,
      //   componets: ["custom-input"],
      //   data() {
      //     return {
      //       title: "Login Form",
      //       inputs:[
      //           {
      //               label: "Email",
      //               value: "",
      //               type: "email"
      //           },
      //           {
      //               label: "Password",
      //               value: "",
      //               type: "password"
      //           }
      //       ],
            
      //     };
      //   },
      //   methods: {
      //     handleSubmit() {
      //       console.log(this.inputs[0].value, this.inputs[1].value);
      //     },
      //   },
      // });

      // app.component("custom-input", {
      //   template: `
      //       <label>
      //           {{ label }}
      //           <input 
      //               :type="type" 
      //               v-model="inputValue" 
      //           />
      //       </label>
      //       `,
      //   props: ["label", "type", "modelValue"],
      //   computed: {
      //     inputValue: {
      //       get() {
      //           return this.modelValue
      //       },
      //       set(value) {
      //           this.$emit("update:modelValue", value)
      //       }
      //     },
      //   },
      // });

      app.component("test-box", {
        template: `
          <div class="box"></div>
        `,
        created() {
          console.log("created");
        },
        mounted() {
          console.log("mounted");
        },
        unmounted() {
          console.log("unmounted");
        }
      })

      app.mount("#app");
    </script>
  </body>
</html>
